<!doctype html>
<html prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8">
  <title>Contact | Handige Kerel</title>
  <meta name="description"
        content="Heb je vragen of wil je mij inschakelen? Neem dan gerust contact op. Vul het formulier in en je ontvangt zo snel mogelijk een reactie.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="NOINDEX, NOFOLLOW">

  <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-N9XW6K3F');</script>
  <!-- End Google Tag Manager -->

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="canonical" href="https://www.handigekerel.nl/contact">
  <meta property="og:title" content="Contact | Handige Kerel">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.handigekerel.nl/contact">
  <meta property="og:image" content="https://www.handigekerel.nl/images/Handige-Kerel-social.png">
  <meta property="og:description"
        content="Heb je vragen of wil je mij inschakelen? Neem dan gerust contact op. Vul het formulier in en je ontvangt zo snel mogelijk een reactie.">
  <!--  <link rel="stylesheet" href="https://cdnnen.proxi.tools/assets/Core/libs/bootstrap-3-dist/css/bootstrap.min.css" type="text/css" media="all"/>-->
  <!--  <link rel="stylesheet" href="https://cdnnen.proxi.tools/assets/Core/libs/font-awesome-4/css/font-awesome.min.css" type="text/css" media="all"/>-->
  <!--  <link rel="stylesheet" href="https://www.handigekerel.nl/data/media/css/template.css" type="text/css" media="all"/>-->
  <!--  <script type="text/javascript" src="https://cdnnen.proxi.tools/assets/Core/libs/jquery/jquery.1.9.1.js"></script>-->
  <!--  <script type="text/javascript" src="https://cdnnen.proxi.tools/assets/Core/libs/jquery/jquery-migrate-1.4.1.min.js"></script>-->
  <!--  <script type="text/javascript" src="https://cdnnen.proxi.tools/assets/Core/libs/jquery/jquery-ui_v1.12.1.min.js"></script>-->
  <!--  <script type="text/javascript" src="https://cdnnen.proxi.tools/assets/Core/libs/jquery/jquery.lazyload.min.js"></script>-->
  <!--  <script type="text/javascript" src="https://cdnnen.proxi.tools/assets/Core/libs/jquery/jPages/jPages.js"></script>-->
  <!--  <script type="text/javascript" src="https://cdnnen.proxi.tools/assets/Core/libs/galleryn/galleryn.js"></script>-->

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>
  <link rel="stylesheet" href="/style/template.css" type="text/css" media="all"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.js"
          integrity="sha512-1icA56H/QfnWMmygJLor4dORvI+7Kurg9CfXSDeJmyMJQL98LfPRk/UwCmi7NoZwbUwxMoI0tc2gJqG/Uu+ecA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "LocalBusiness",
      "name": "Handige Kerel",
      "image": "https://www.handigekerel.nl/images/Handige-Kerel-social.png",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "Van Bosseware 26 ",
        "postalCode": "8014TB",
        "addressLocality": "Zwolle",
        "addressCountry": "NL"
      },
      "telephone": "0651291686",
      "faxNumber": "",
      "email": "tom@handigekerel.nl",
      "vatID": "NL90418069",
      "openingHours": [
        "Mo 8:30-17:00",
        "Tu 8:30-17:00",
        "We 8:30-17:00",
        "Th 8:30-17:00",
        "Fr 8:30-17:00"
      ]
    }
  </script>
</head>
<body class="pageTemplate lang-nl ">

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N9XW6K3F"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->


<div class="fullsite">
  <nav class="main-nav">
    <div class="container-fluid">
      <div class="nav-wrapper">
        <div class="logo">
          <a href="/" title="Handige Kerel">
            <img src="/images/logo-Handige-Kerel.png" alt="Handige Kerel" data-aos="zoom-in">
          </a>
        </div>
        <div class="nav-bar">
          <ul class="sf-menu">
            <li class="" id="menu_1">
              <a href="/">
                Home</a>
            </li>
            <li class="" id="menu_2">
              <a href="/portfolio">
                Portfolio</a>
            </li>
            <li class="" id="menu_3">
              <a href="/over-mij">
                Over mij</a>
            </li>
            <li class="selected" id="menu_7">
              <a href="/contact">
                Contact</a>
            </li>
          </ul>
        </div>
        <div class="mobile-nav"><a href="#"><i class="fa fa-bars" aria-hidden="true"></i> </a></div>
      </div>
    </div>
  </nav>
  <header class="top small">
    <div class="img animate delay-1500"></div>
    <div class="banner">

    </div>
  </header>
  <section class="page-content">
    <div class="container">
      <article class="content" data-aos="fade-up" data-aos-duration="600">
        <header class="page-title" data-aos="fade-left" data-aos-duration="900">

          <h1><span>Contact</span></h1>

        </header>
        <div data-aos="fade-right" data-aos-duration="900">
          <p>Heb je vragen of wil je mij inschakelen? Neem dan gerust contact op. Vul onderstaand formulier in en je
            ontvangt zo snel mogelijk een reactie.</p>

        </div>
        <div class="row">
          <div class="col-md-8 col-md-push-4">
            <h3>Stuur een bericht</h3>
            <p>
            <form id="contactForm_1" class="contactForm" action="https://formspree.io/f/myzdawwy" method="POST">
              <fieldset>
                <legend class="contact-field-legend contact-field-legend-first">Contact</legend>
                <div class=' contact-field-item id_name_1 contact-field-type_single_line_text'
                     id='contact-field-id_name_1'>
                  <div class="contact-field-element">
                    <input id='form1-name_1' type="text" value=''
                           name='naam'
                           class='form-field '
                           placeholder="Naam *" required="required">
                  </div>
                </div>
                <div class=' contact-field-item id_email_1 contact-field-type_email' id='contact-field-id_email_1'>
                  <div class="contact-field-element">
                    <input id='form1-email_1' type="email" value=''
                           name='email'
                           class='form-field '
                           placeholder="E-mail *" required="required">
                  </div>
                </div>
                <div class=' contact-field-item id_address_1 contact-field-type_single_line_text'
                     id='contact-field-id_address_1'>
                  <div class="contact-field-element">
                    <input id='form1-address_1' type="text" value=''
                           name='adres'
                           class='form-field '
                           placeholder="Adres ">
                  </div>
                </div>
                <div class=' contact-field-item id_address_2 contact-field-type_single_line_text'
                     id='contact-field-id_address_2'>
                  <div class="contact-field-element">
                    <input id='form1-address_2' type="text" value=''
                           name='plaats'
                           class='form-field '
                           placeholder="Plaats ">
                  </div>
                </div>
                <div class=' contact-field-item id_phone_1 contact-field-type_phone' id='contact-field-id_phone_1'>
                  <div class="contact-field-element">
                    <input id='form1-phone_1' type="tel" value=''
                           name='telefoon'
                           class='form-field'
                           placeholder="Telefoon ">
                  </div>
                </div>
                <div class='fullwidth contact-field-item id_comments_1 contact-field-type_paragraph'
                     id='contact-field-id_comments_1'>
                  <div class="contact-field-element">
            <textarea id="form1-comments_1" maxlength="10000" class="form-field" type="text" rows="5" cols="30"
                      name="bericht"
                      placeholder="Bericht *" required="required"></textarea>
                  </div>
                </div>
              </fieldset>

              <!--            <div class="gdpr_policy">-->
              <!--              <input type="checkbox" id="form1-gdpr" name="gdpr" required>-->
              <!--              <label for="form1-gdpr">-->
              <!--                Ik accepteer de  <a href ="/nl/confidentiality_ws" target="_blank">algemene gebruiksvoorwaarden</a>-->
              <!--              </label>-->
              <!--            </div>-->
              <div class="contact-submit">
                <input type="submit" id="button_button_form_contactv2_1" value="Verzenden" class="form-submit-button">
              </div>
            </form>
          </div>
          <div class="col-md-4 col-md-pull-8  vCard">
            <div class="box-light">
              <h5>Telefoon</h5>
              <div class="tel work">
                <span class="phone-responsive"><a href="tel:06-51291686">06-51291686</a></span>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </article>
    </div>
  </section>

  <footer class="bottom">
    <div class="container">
      <div class="footer-wrapper">
        <div class="footer-left">
          <div class="logo-footer">
            <a href="/" title="Handige Kerel">
              <img src="/images/logo-footer.png" alt="Handige Kerel" data-aos="zoom-in" data-aos-duration="600">
            </a>
          </div>
          <p>Handige Kerel is&nbsp;de oplossing voor al jouw kleine klusjes! Neem contact met mij op en wie weet sta ik
            binnenkort bij jou aan de deur!</p>
        </div>
        <div class="opening">
          <h3>Openingstijden</h3>
          <div id="openingTimesBlock" class="containerOpening">
            <div class="openingLine">
                <span class="openingDay">
                    						Maandag
					                </span>
              <span class="openingTime">
                    						08:30-17:00
					                </span>
            </div>
            <div class="openingLine">
                <span class="openingDay">
                    						Dinsdag
					                </span>
              <span class="openingTime">
                    						08:30-17:00
					                </span>
            </div>
            <div class="openingLine">
                <span class="openingDay">
                    						Woensdag
					                </span>
              <span class="openingTime">
                    						08:30-17:00
					                </span>
            </div>
            <div class="openingLine">
                <span class="openingDay">
                    						Donderdag
					                </span>
              <span class="openingTime">
                    						08:30-17:00
					                </span>
            </div>
            <div class="openingLine">
                <span class="openingDay">
                    						Vrijdag
					                </span>
              <span class="openingTime">
                    						08:30-17:00
					                </span>
            </div>
            <div class="openingLine">
                <span class="openingDay">
                    						Zaterdag
					                </span>
              <span class="openingTime">
                    						Gesloten
					                </span>
            </div>
            <div class="openingLine">
                <span class="openingDay">
                    						Zondag
					                </span>
              <span class="openingTime">
                    						Gesloten
					                </span>
            </div>
          </div>

        </div>

        <div class="opening">
          <div class="footer-adr">
            <h3>Info</h3>
          </div>
          <div class="footer-tel">
            <i class="fa fa-phone"></i> <span class="phone-responsive"><a href="tel:06-51291686">06-51291686</a></span>
          </div>
          <div class="footer-mail">
            <i class="fa fa-envelope"></i> <a href="mailto:tom@handigekerel.nl" class="adwconversion_email"
                                              data-adwconversion="tom@handigekerel.nl">tom@handigekerel.nl</a>
          </div>


          <div class="social">
            <div class="networks_linking">
              <a href="https://www.instagram.com/handigekerel/" target="_blank" class="networks_instagram"><i
                  class="fab fa fa-instagram" aria-hidden="true"></i><span>@handigekerel</span></a></div>
          </div>

        </div>
      </div>
    </div>
  </footer>
  <div class="site-overlay"></div>
</div>
<div class="menu-wrap">
  <nav class="mobile-menu">

    <ul>
      <li class="">
        <a href="/">
          Home</a>
      </li>
      <li class="">
        <a href="/portfolio">
          Portfolio</a>
      </li>
      <li class="">
        <a href="/over-mij">
          Over mij</a>
      </li>
      <li class="selected">
        <a href="/contact">
          Contact</a>
      </li>
    </ul>

  </nav>
  <button class="close-button" id="close-button">Close Menu</button>
</div>
<!--<link rel="stylesheet" href="https://cdnnen.proxi.tools/assets/Core/styles/footer-link.css" type="text/css" media="all"/>-->
<!--<div id="footerSlideContainer"><a href="https://www.mkbclickservice.nl/" target="_blank" id="footerSlideButton" class="footerSlideButton1" rel="nofollow"><span class="icon-logo-mkb"></span></a></div>-->
<a href="#top" id="scrollTopBtn" class="back-to-top-link" aria-label="Scroll to Top"><i class="fa fa-angle-up"></i></a>
<script>
  function scrollFunction() {
    window.scrollY > 200 ? document.getElementById("scrollTopBtn").classList.add("Active") : document.getElementById("scrollTopBtn").classList.remove("Active");
  }

  window.onscroll = function () {
    scrollFunction();
  };
</script>


<!--<link rel="stylesheet" href="https://cdnnen.proxi.tools/assets/Gallery/styles/gallery_simple_slideshow.min.css" type="text/css" media="all"/>-->
<!--<link rel="stylesheet" href="https://cdnnen.proxi.tools/assets/Core/libs/galleryn/galleryn.css" type="text/css" media="all"/>-->
<!--<link rel="stylesheet" href="https://cdnnen.proxi.tools/assets/Googlemapsv2/styles/modals.css" type="text/css" media="all"/>-->
<!--<link rel="stylesheet" href="https://cdnnen.proxi.tools/assets/Contactv2/styles/front/contactv2-default.css" type="text/css" media="all"/>-->
<!--<link rel="stylesheet" href="https://cdnnen.proxi.tools/assets/Guestbookv2/styles/front/guestbookv2.css" type="text/css" media="all"/>-->
<!--<link rel="stylesheet" href="https://www.handigekerel.nl/data/media/css/modules.css" type="text/css" media="all"/>-->
<!--<link rel="stylesheet" href="https://www.handigekerel.nl/data/media/css/aos.css" type="text/css" media="all"/>-->

<!--<script type="text/javascript" src="https://cdnnen.proxi.tools/assets/Core/scripts/adwords_conversions.js"></script>-->
<!--<script type="text/javascript" src="https://cdnnen.proxi.tools/assets/Gallery/scripts/gallery_simple_slideshow.min.js"></script>-->
<!--<script type="text/javascript" src="https://cdnnen.proxi.tools/assets/Contactv2/scripts/front/contactv2.js"></script>-->
<!--<script type="text/javascript" src="https://cdnnen.proxi.tools/assets/Guestbookv2/scripts/front/guestbookv2.js"></script>-->
<!--<script type="text/javascript" src="https://www.handigekerel.nl/data/media/js/superfish.js"></script>-->
<!--<script type="text/javascript" src="https://www.handigekerel.nl/data/media/js/jquery.sticky.js"></script>-->
<!--<script type="text/javascript" src="https://www.handigekerel.nl/data/media/js/aos.js"></script>-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/superfish/1.7.10/js/superfish.js"
        integrity="sha512-f5ylIU1Zc9FzNiSJ7TVg+0PFfOqbnicxpr8401KpF/sTo7PN5DoXxhJsN+8DtEy2HpDhQwXaElyZOtYg3qzGTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.sticky/1.0.4/jquery.sticky.js" integrity="sha512-p+GPBTyASypE++3Y4cKuBpCA8coQBL6xEDG01kmv4pPkgjKFaJlRglGpCM2OsuI14s4oE7LInjcL5eAUVZmKAQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"
        integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
  $(document).ready(function () {
    $('nav.main-nav .sf-menu').superfish({
      cssArrows: true,
      animation: {opacity: 'show'},
      animationOut: {opacity: 'hide'}
    });
    $('nav.main-nav').sticky();

    $('.mobile-nav a').click(function (e) {
      e.preventDefault();
      $('body').addClass('show-menu');
    });
    $('.site-overlay, .menu-wrap .close-button').click(function (e) {
      e.preventDefault();
      $('body').removeClass('show-menu');
    });
    AOS.init();
  });
</script>

<!--<div id="ajaxGdprContent"></div>-->
<!--<link rel="stylesheet" href="https://cdnnen.proxi.tools/assets/Cookies/styles/cookies.css" type="text/css" media="all"/>-->

<!--<script>-->
<!--  document.addEventListener("DOMContentLoaded", function() {-->
<!--    async function reopenModalAjax() {-->
<!--      let url = '/nl/cookies-policy-modal';-->

<!--      let cookies = async function() {-->
<!--        return await (await fetch(url,  {cache: 'no-cache'})).text();-->
<!--      };-->
<!--      document.querySelector('#ajaxGdprContent').innerHTML = await cookies();-->
<!--      document.querySelector('#sdgdpr_modal_wrapper').style.display = 'block';-->
<!--      initCookiesFunctions();-->
<!--      try {-->
<!--        setCheckboxByCookies()-->
<!--      }catch (e) {-->
<!--      }-->
<!--      return false;-->
<!--    }-->

<!--    document.querySelector('#reopenCookiesModalLink').addEventListener('click', (event)=>{-->
<!--      reopenModalAjax();-->
<!--    });-->

<!--  });-->
<!--</script>-->

<!--<div class="btn-cookies-pos">-->
<!--  <a href="javascript:void(0);" id="reopenCookiesModalLink" class="btn-cookies-link"><i class="icon-setting"></i> Cookie-instellingen</a>-->
<!--</div>-->
<!--<script type="text/javascript" id="cookiegpdr"-->
<!--        src="https://cdnnen.proxi.tools/assets/Cookies/scripts/cookiegdpr.js?r=94679"-->
<!--        data-cookies="CookieGDPR2"-->
<!--        data-cookies-domain="www.handigekerel.nl"-->
<!--        data-cookies-path="/"-->
<!--        data-cookies-expiration="Sun, 21 Jun 2026 21:32:43"-->
<!--        data-cookie-ad="CookieGDPRAD"-->
<!--        data-cookie-ad-domain="www.handigekerel.nl"-->
<!--        data-cookie-ad-path="/"-->
<!--        data-cookie-ad-expiration="Sun, 21 Jun 2026 21:32:43"-->
<!--        data-cookie-analytics="CookieGDPRAN"-->
<!--        data-cookie-analytics-domain="www.handigekerel.nl"-->
<!--        data-cookie-analytics-path="/"-->
<!--        data-cookie-analytics-expiration="Sun, 21 Jun 2026 21:32:43"-->
<!--        data-cookie-ad-storage="CookieGDPRADST"-->
<!--        data-cookie-ad-storage-domain="www.handigekerel.nl"-->
<!--        data-cookie-ad-storage-path="/"-->
<!--        data-cookie-ad-storage-expiration="Sun, 21 Jun 2026 21:32:43"-->
<!--        data-cookie-ad-user-data="CookieGDPRADUD"-->
<!--        data-cookie-ad-user-data-domain="www.handigekerel.nl"-->
<!--        data-cookie-ad-user-data-path="/"-->
<!--        data-cookie-ad-user-data-expiration="Sun, 21 Jun 2026 21:32:43"-->
<!--        data-cookie-ad-personalized="CookieGDPRADPERSO"-->
<!--        data-cookie-ad-personalized-domain="www.handigekerel.nl"-->
<!--        data-cookie-ad-personalized-path="/"-->
<!--        data-cookie-ad-personalized-expiration="Sun, 21 Jun 2026 21:32:43"-->
<!--        data-cookie-tracking="CookieGDPRTracking"-->
<!--        data-cookie-tracking-domain="www.handigekerel.nl"-->
<!--        data-cookie-tracking-path="/"-->
<!--        data-cookie-tracking-expiration="Sun, 21 Jun 2026 21:32:43"-->
<!--        data-cookie-has-analytics="true">-->
<!--</script>-->

<!--<script type="text/javascript">-->
<!--  var _paq = _paq || [];-->
<!--  _paq.push(["trackPageView"]);-->
<!--  _paq.push(["enableLinkTracking"]);-->
<!--  (function() {-->
<!--    var u="//tracker.proxi.tools/";-->
<!--    _paq.push(["setTrackerUrl", u+"piwik.php"]);-->
<!--    _paq.push(["setSiteId", "288909"]);-->
<!--    var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";-->
<!--    g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);-->
<!--  })();-->
<!--</script>-->
</body>
</html>
