<!doctype html>
<html prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8">
  <title>Jouw klusjesman in de regio Zwolle | Handige Kerel</title>
  <meta name="description"
        content="Heb je een kleine klus die je liever wilt uitbesteden aan een vakman? Ik ben de klusjesman die je zoekt! Lees verder voor meer informatie.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="">

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="canonical" href="https://www.handigekerel.nl/">
  <meta property="og:title" content="Jouw klusjesman in de regio Zwolle | Handige Kerel">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.handigekerel.nl/">
  <meta property="og:image" content="https://www.handigekerel.nl/Handige-Kerel-social.png">
  <meta property="og:description"
        content="Heb je een kleine klus die je liever wilt uitbesteden aan een vakman? Ik ben de klusjesman die je zoekt! Lees verder voor meer informatie.">
  <!--  <link rel="stylesheet" href="https://cdnnen.proxi.tools/assets/Core/libs/bootstrap-3-dist/css/bootstrap.min.css" type="text/css" media="all"/>-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!--  <link rel="stylesheet" href="https://cdnnen.proxi.tools/assets/Core/libs/font-awesome-4/css/font-awesome.min.css" type="text/css" media="all"/>-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>
  <link rel="stylesheet" href="/style/template.css" type="text/css" media="all"/>
  <!--  <script type="text/javascript" src="https://cdnnen.proxi.tools/assets/Core/libs/jquery/jquery.1.9.1.js"></script>-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.js"
          integrity="sha512-1icA56H/QfnWMmygJLor4dORvI+7Kurg9CfXSDeJmyMJQL98LfPRk/UwCmi7NoZwbUwxMoI0tc2gJqG/Uu+ecA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!--  <script type="text/javascript" src="https://cdnnen.proxi.tools/assets/Core/libs/jquery/jquery-migrate-1.4.1.min.js"></script>-->
  <!--  <script type="text/javascript" src="https://cdnnen.proxi.tools/assets/Core/libs/jquery/jquery-ui_v1.12.1.min.js"></script>-->
  <!--  <script type="text/javascript" src="https://cdnnen.proxi.tools/assets/Core/libs/jquery/jquery.lazyload.min.js"></script>-->
  <!--  <script type="text/javascript" src="https://cdnnen.proxi.tools/assets/Core/libs/jquery/jPages/jPages.js"></script>-->
  <!--  <script type="text/javascript" src="https://cdnnen.proxi.tools/assets/Core/libs/galleryn/galleryn.js"></script>-->
  <script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "LocalBusiness",
      "name": "Handige Kerel",
      "image": "https://www.handigekerel.nl/images/photo-microdata.jpg",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "Van Bosseware 26 ",
        "postalCode": "8014TB",
        "addressLocality": "Zwolle",
        "addressCountry": "NL"
      },
      "telephone": "06 22703493",
      "faxNumber": "",
      "email": "tom@handigekerel.nl",
      "vatID": "NL90418069",
      "openingHours": [
        "Mo 8:30-17:00",
        "Tu 8:30-17:00",
        "We 8:30-17:00",
        "Th 8:30-17:00",
        "Fr 8:30-17:00"
      ]
    }
  </script>
</head>
<body class="homepageTemplate fr-view lang-nl ">

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N9XW6K3F"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div class="fullsite">
  <nav class="main-nav">
    <div class="container">
      <div class="nav-wrapper">
        <div class="logo">
          <a href="/" title="Handige Kerel">
            <img src="/images/logo-Handige-Kerel.png" alt="Handige Kerel" data-aos="zoom-in">
          </a>
        </div>
        <div class="nav-bar">
          <ul class="sf-menu">
            <li class="selected" id="menu_1">
              <a href="/">
                Home</a>
            </li>
            <li class="" id="menu_2">
              <a href="/portfolio">
                Portfolio</a>
            </li>
            <li class="" id="menu_3">
              <a href="/over-mij">
                Over mij</a>
            </li>
            <li class="" id="menu_7">
              <a href="/contact">
                Contact</a>
            </li>
          </ul>
        </div>
        <div class="mobile-nav"><a href="#"><i class="fa fa-bars" aria-hidden="true"></i> </a></div>
      </div>
    </div>
  </nav>
  <header class="top big">
    <div class="img animate delay-1500"></div>
    <div class="container">
      <div class="slogan" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="600">
        <h2>Tijd en gedoe</h2>
        <p>besparen?</p>
        <div>
          <p><a title="contact opnemen" href="/contact">Schakel de Handige Kerel in!</a></p>
        </div>
      </div>
    </div>

  </header>

  <section class="home-content">
    <div class="container">
      <article class="content" data-aos="fade-up" data-aos-duration="600">
        <div class="photo-home">
          <div><img src="/images/photo-home1.jpg" alt="" /></div>
        </div>
        <header class="page-title" data-aos="fade-left" data-aos-duration="900">

          <h1><span>Jouw klusjesman in de regio Zwolle</span></h1>

        </header>
        <div data-aos="fade-right" data-aos-duration="900">
          <p>Heb je klusjes in en om je huis die je liever wilt uitbesteden aan een vakkundig bedrijf? Je hoeft niet
            verder te zoeken, je hebt Handige Kerel Tom gevonden! Ik sta graag voor je klaar om allerlei kleine klusjes
            uit te voeren, zodat je niet zelf aan de slag hoeft. Schakel mij in als klusjesman en je <strong>bespaart
              tijd die je weer kunt gebruiken voor andere bezigheden!</strong> Wil je meer weten over mijn diensten en
            werkwijze? Lees dan verder, ik vertel je graag wat meer.</p>
          <h2>Jouw klus, mijn zorg!</h2>
          <p>Je kunt mij inschakelen voor verschillende klussen. Heb je onlangs een nieuwe meubel gekocht en vind je het
            altijd zo&rsquo;n gedoe om dit in elkaar te zetten? Ik neem dit werk graag voor je uit handen! Maar ook als
            jouw meubels beschadigingen hebben opgelopen en deze gerepareerd moeten worden, kun je bij mij terecht.
            Andere werkzaamheden waar je aan kunt denken zijn het ophangen van een TV, schilderij of wandmeubel, het
            monteren van douchedeuren of het stellen van keukenkastjes. <strong>Ik ben breed inzetbaar</strong> en tot
            veel in staat. Wel wil ik erbij zeggen dat ik helaas geen grote/grove timmerwerkzaamheden kan verzorgen. Wil
            je weten of ik iets voor je kan betekenen? Neem dan gerust contact met mij op!</p>
          <h2>Een uitkomst voor jong &eacute;n oud</h2>
          <p>Mijn klussendienst is een uitkomst voor senioren die niet meer in staat zijn om zelf een klus uit te
            voeren. Ook kan het zijn dat familieleden niet handig genoeg zijn of de tijd missen. Handige Kerel biedt dan
            uitkomst! Mijn klantenkring is breed en ook de jongere generaties help ik graag uit de brand. <strong>Ik
              beschik over de juiste kennis en ervaring</strong>&nbsp;die nodig zijn om jouw klus op een goede manier te
            klaren. Graag hoor ik welke opdracht je hebt en wat je van mij verwacht. Neem contact met mij op, wie weet
            ga ik binnenkort bij jou aan de slag!</p>
          <h2>Schakel ook een Handige Kerel in!</h2>
          <p>Een klusjesman in de regio Zwolle gezocht? Bij&nbsp;mij is jouw klus in goede handen! Stel gerust jouw
            vragen of geef jouw opdracht door via <a href="tel:+31651291686">06-51291686</a>. Ook kun je mij een <a
                href="mailto:tom@handigekerel.nl">mailtje</a> sturen of het <a href="/nl/contact">contactformulier</a>
            invullen. Je ontvangt zo snel mogelijk een reactie?</p>

        </div>
        <div class="clearfix"></div>
      </article>
    </div>
  </section>
  <div class="bg-boxes">
    <section class="boxes">
      <div class="container-fluid">
        <div class="boxes-grid">
          <div class="box box01" data-aos="fade-up" data-aos-duration="300">
            <img src="/images/img1.jpg" alt="">
            <div class="text-bx"><h2>TV</h2>
              <p>Wil je jouw TV aan de muur bevestigen? Ik zorg ervoor dat de televisie op een goede manier opgehangen
                wordt en alle kabels mooi weggewerkt worden.</p></div>
          </div>
          <div class="box box02" data-aos="fade-up" data-aos-duration="900">
            <img src="/images/img2.jpg" alt="">
            <div class="text-bx"><h2>Ikea meubels</h2>
              <p>Vind je het ook altijd lastig om een IKEA meubel in elkaar te zetten? Je bent niet de enige! Ik sta
                graag voor je klaar om je uit de brand te helpen.</p></div>
          </div>
          <div class="box box03" data-aos="fade-up" data-aos-duration="1300">
            <img src="/images/img3.jpg" alt="">
            <div class="text-bx"><h2>Ophangen e.d.</h2>
              <p>Of je nu een schilderij, wandmeubel of iets anders wilt ophangen; ik neem dit graag voor je uit
                handen!</p></div>
          </div>
          <div class="box box04" data-aos="fade-up" data-aos-duration="1800">
            <img src="/images/img4.jpg" alt="">
            <div class="text-bx"><h2>Overig</h2>
              <p>Is er een andere kleine klus waar je mij voor nodig hebt? Neem gerust contact met mij op om de
                mogelijkheden te bespreken!</p></div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <section class="services">
    <div class="container">
      <h3 data-aos="fade-up" data-aos-anchor-placement="center-center"><strong>Onze service!</strong></h3>
      <div class="services-grid">
        <div class="bx" data-aos="fade-up" data-aos-anchor-placement="center-center">
          <div class="icon-bx"><img src="/images/icon1.png" alt="" width="78" height="64"/></div>
          <p><strong>Persoonlijk contact</strong></p>
          <p>Ik hecht veel waarde aan het opbouwen van goede klantrelaties. Als je tevreden bent, ben ik dat ook!</p>
        </div>
        <div class="bx" data-aos="fade-up" data-aos-anchor-placement="center-center">
          <div class="icon-bx"><img src="/images/icon2.png" alt="" width="78" height="64"/></div>
          <p><strong>Voor kleine klussen</strong></p>
          <p>Ik ben gespecialiseerd in het uitvoeren van kleine klusjes in en om het huis. Of je nu jong of oud bent; ik
            sta voor je klaar!</p>
        </div>
        <div class="bx" data-aos="fade-up" data-aos-anchor-placement="center-center">
          <div class="icon-bx"><img src="/images/icon3.png" alt="" width="78" height="64"/></div>
          <p><strong>Levert kwaliteit</strong></p>
          <p>Wil je dat ik jouw klus uitvoer? Dan ben je altijd verzekerd van een professionele werkwijze en de beste
            kwaliteit!</p>
        </div>
        <div class="bx" data-aos="fade-up" data-aos-anchor-placement="center-center">
          <div class="icon-bx"><img src="/images/icon4.png" alt="" width="78" height="64"/></div>
          <p><strong>Flexibel en breed inzetbaar</strong></p>
          <p>Ik denk graag met je mee om te zorgen voor het beste eindresultaat. Ook profiteer je van mijn brede
            expertise!</p>
        </div>
      </div>
    </div>
  </section>
  <section class="contact">
    <div class="container" data-aos="fade-down" data-aos-duration="600">
      <h2>Een klus uitbesteden?</h2>
      <div><a href="/contact">Neem nu contact op</a></div>
    </div>
  </section>

  <footer class="bottom">
    <div class="container">
      <div class="footer-wrapper">
        <div class="footer-left">
          <div class="logo-footer">
            <a href="/" title="Handige Kerel">
              <img src="/images/logo-footer.png" alt="Handige Kerel" data-aos="zoom-in" data-aos-duration="600">
            </a>
          </div>
          <p>Handige Kerel is&nbsp;de oplossing voor al jouw kleine klusjes! Neem contact met mij op en wie weet sta ik
            binnenkort bij jou aan de deur!</p>
        </div>
        <div class="opening">
          <h3>Openingstijden</h3>
          <div id="openingTimesBlock" class="containerOpening">
            <div class="openingLine">
                <span class="openingDay">
                    						Maandag
					                </span>
              <span class="openingTime">
                    						08:30-17:00
					                </span>
            </div>
            <div class="openingLine">
                <span class="openingDay">
                    						Dinsdag
					                </span>
              <span class="openingTime">
                    						08:30-17:00
					                </span>
            </div>
            <div class="openingLine">
                <span class="openingDay">
                    						Woensdag
					                </span>
              <span class="openingTime">
                    						08:30-17:00
					                </span>
            </div>
            <div class="openingLine">
                <span class="openingDay">
                    						Donderdag
					                </span>
              <span class="openingTime">
                    						08:30-17:00
					                </span>
            </div>
            <div class="openingLine">
                <span class="openingDay">
                    						Vrijdag
					                </span>
              <span class="openingTime">
                    						08:30-17:00
					                </span>
            </div>
            <div class="openingLine">
                <span class="openingDay">
                    						Zaterdag
					                </span>
              <span class="openingTime">
                    						Gesloten
					                </span>
            </div>
            <div class="openingLine">
                <span class="openingDay">
                    						Zondag
					                </span>
              <span class="openingTime">
                    						Gesloten
					                </span>
            </div>
          </div>

        </div>

        <div class="opening">
          <div class="footer-adr">
            <h3>Info</h3>
          </div>
          <div class="footer-tel">
            <i class="fa fa-phone"></i> <span class="phone-responsive"><a href="tel:06-51291686">06-51291686</a></span>
          </div>
          <div class="footer-mail">
            <i class="fa fa-envelope"></i> <a href="mailto:tom@handigekerel.nl" class="adwconversion_email"
                                              data-adwconversion="tom@handigekerel.nl">tom@handigekerel.nl</a>
          </div>
          <div class="social">
            <div class="networks_linking">
              <a href="https://www.instagram.com/handigekerel/" target="_blank" class="networks_instagram"><i
                  class="fab fa fa-instagram" aria-hidden="true"></i><span>@handigekerel</span></a></div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <div class="site-overlay"></div>
</div>
<div class="menu-wrap">
  <nav class="mobile-menu">

    <ul>
      <li class="selected">
        <a href="/">
          Home</a>
      </li>
      <li class="">
        <a href="/portfolio">
          Portfolio</a>
      </li>
      <li class="">
        <a href="/over-mij">
          Over mij</a>
      </li>
      <li class="">
        <a href="/contact">
          Contact</a>
      </li>
    </ul>

  </nav>
  <button class="close-button" id="close-button">Close Menu</button>
</div>
<a href="#top" id="scrollTopBtn" class="back-to-top-link" aria-label="Scroll to Top"><i class="fa fa-angle-up"></i></a>
<script>
  function scrollFunction() {
    window.scrollY > 200 ? document.getElementById("scrollTopBtn").classList.add("Active") : document.getElementById("scrollTopBtn").classList.remove("Active");
  }

  window.onscroll = function () {
    scrollFunction();
  };
</script>

<!--<link rel="stylesheet" href="https://cdnnen.proxi.tools/assets/Gallery/styles/gallery_simple_slideshow.min.css" type="text/css" media="all"/>-->
<!--<link rel="stylesheet" href="https://cdnnen.proxi.tools/assets/Core/libs/galleryn/galleryn.css" type="text/css" media="all"/>-->
<!--<link rel="stylesheet" href="https://cdnnen.proxi.tools/assets/Googlemapsv2/styles/modals.css" type="text/css" media="all"/>-->
<!--<link rel="stylesheet" href="https://cdnnen.proxi.tools/assets/Contactv2/styles/front/contactv2-default.css" type="text/css" media="all"/>-->
<!--<script type="text/javascript" src="https://cdnnen.proxi.tools/assets/Core/scripts/adwords_conversions.js"></script>-->
<!--<script type="text/javascript" src="https://cdnnen.proxi.tools/assets/Gallery/scripts/gallery_simple_slideshow.min.js"></script>-->
<!--<script type="text/javascript" src="https://cdnnen.proxi.tools/assets/Contactv2/scripts/front/contactv2.js"></script>-->
<!--<script type="text/javascript" src="https://www.handigekerel.nl/data/media/js/superfish.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/superfish/1.7.10/js/superfish.js"
        integrity="sha512-f5ylIU1Zc9FzNiSJ7TVg+0PFfOqbnicxpr8401KpF/sTo7PN5DoXxhJsN+8DtEy2HpDhQwXaElyZOtYg3qzGTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.sticky/1.0.4/jquery.sticky.js" integrity="sha512-p+GPBTyASypE++3Y4cKuBpCA8coQBL6xEDG01kmv4pPkgjKFaJlRglGpCM2OsuI14s4oE7LInjcL5eAUVZmKAQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script><!--<script type="text/javascript" src="https://www.handigekerel.nl/data/media/js/aos.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"
        integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
  $(document).ready(function () {
    $('nav.main-nav .sf-menu').superfish({
      cssArrows: true,
      animation: {opacity: 'show'},
      animationOut: {opacity: 'hide'}
    });
    $('nav.main-nav').sticky();

    $('.mobile-nav a').click(function (e) {
      e.preventDefault();
      $('body').addClass('show-menu');
    });
    $('.site-overlay, .menu-wrap .close-button').click(function (e) {
      e.preventDefault();
      $('body').removeClass('show-menu');
    });
    AOS.init();
  });
</script>

<!--<div id="ajaxGdprContent"></div>-->
<!--<link rel="stylesheet" href="https://cdnnen.proxi.tools/assets/Cookies/styles/cookies.css" type="text/css" media="all"/>-->

<!--<script>-->
<!--  document.addEventListener("DOMContentLoaded", function() {-->
<!--    async function reopenModalAjax() {-->
<!--      let url = '/nl/cookies-policy-modal';-->

<!--      let cookies = async function() {-->
<!--        return await (await fetch(url,  {cache: 'no-cache'})).text();-->
<!--      };-->
<!--      document.querySelector('#ajaxGdprContent').innerHTML = await cookies();-->
<!--      document.querySelector('#sdgdpr_modal_wrapper').style.display = 'block';-->
<!--      initCookiesFunctions();-->
<!--      try {-->
<!--        setCheckboxByCookies()-->
<!--      }catch (e) {-->
<!--      }-->
<!--      return false;-->
<!--    }-->

<!--    document.querySelector('#reopenCookiesModalLink').addEventListener('click', (event)=>{-->
<!--      reopenModalAjax();-->
<!--    });-->

<!--  });-->
<!--</script>-->

<!--<script type="text/javascript">-->
<!--  var _paq = _paq || [];-->
<!--  _paq.push(["trackPageView"]);-->
<!--  _paq.push(["enableLinkTracking"]);-->
<!--  (function() {-->
<!--    var u="//tracker.proxi.tools/";-->
<!--    _paq.push(["setTrackerUrl", u+"piwik.php"]);-->
<!--    _paq.push(["setSiteId", "288909"]);-->
<!--    var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";-->
<!--    g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);-->
<!--  })();-->
<!--</script>-->
</body>
</html>
